name: Build and Push Docker Image

on:
  push:
    branches:
      - cicd
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Spring Boot JAR
        run: |
          chmod +x mvnw
          ./mvnw package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.IMAGE_NAME }}:${{ github.sha }} .
          docker tag ${{ secrets.IMAGE_NAME }}:${{ github.sha }} ${{ secrets.IMAGE_NAME }}:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.IMAGE_NAME }}:${{ github.sha }}
          docker push ${{ secrets.IMAGE_NAME }}:latest
